* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.login {
  position: fixed;
  z-index: 9999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login > *:last-child {
  padding-bottom: 100px;
}

.app {
  display: grid;
  grid-template-areas: "viewport controls";
  grid-template-columns: 750px 1fr;
  grid-gap: 16px;
  padding: 50px;
  margin: 0 auto;
  width: 1200px;
}
.app *:not(button),
.app *:not(input),
.app *:not([contenteditable]) {
  cursor: default;
  user-select: none;
}
.app [contenteditable] {
  cursor: text;
}
.app button {
  cursor: pointer;
  position: relative;
}
.app button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.app .controls {
  grid-area: controls;
}
.app .controls label {
  display: flex;
}
.app .controls label input {
  width: 100%;
}
.app .viewport {
  grid-area: viewport;
  width: 750px;
  height: 1334px;
  box-shadow: 0 0 5px 0 black;
  background: url(bg.png) center;
  background-size: 130%;
  display: grid;
  grid-template-rows: 40px 88px 1fr 84px;
  overflow: hidden;
  border-radius: 4px;
}
.app .viewport .statusbar {
  background: #f2f0ef;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: 24px;
}
.app .viewport .statusbar .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.app .viewport .statusbar .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.app .viewport .statusbar .time {
  text-align: center;
  font-weight: 600;
  padding: 6px 0 0 0;
}
.app .viewport .statusbar .signal {
  padding: 0 0 0 16px;
}
.app .viewport .statusbar .operator {
  padding: 0 10px 0 6px;
}
.app .viewport .statusbar .battery-percent {
  margin-top: -4px;
}
.app .viewport .statusbar .battery-percent input {
  background: none;
  border: none;
  width: 60px;
  text-align: right;
  padding: 0;
  margin-right: -15px;
  font-family: inherit;
  font-size: 24px;
}
.app .viewport .statusbar .battery-icon {
  padding: 0 6px 0 6px;
  color: #333;
}
.app .viewport .user-info {
  background: #f6f6f6;
  border-bottom: 1px solid #a4a3a0;
  display: grid;
  grid-template-columns: 120px 80px 1fr 100px 100px;
  line-height: 1;
  overflow: hidden;
}
.app .viewport .user-info .back {
  padding: 20px 0 0 18px;
}
.app .viewport .user-info .ava {
  padding: 6px 0 0 6px;
}
.app .viewport .user-info .ava button {
  display: block;
  border: none;
  background: none;
  padding: 0;
}
.app .viewport .user-info .ava img {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  object-fit: cover;
}
.app .viewport .user-info .user {
  padding: 14px 0 0 14px;
}
.app .viewport .user-info .user .name {
  font-weight: 600;
  font-size: 32px;
}
.app .viewport .user-info .user .sub {
  font-size: 22px;
  color: #86868a;
  padding: 6px 0 0 0;
  letter-spacing: 1.5px;
}
.app .viewport .user-info .video {
  padding: 4px 0 0 18px;
}
.app .viewport .user-info .audio {
  padding: 0 0 0 24px;
}
.app .viewport .chat {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 13px 32px;
  overflow-y: auto;
}
.app .viewport .write-message {
  background: #f6f6f6;
  border-top: 1px solid #f6f6f6;
  display: grid;
  grid-template-columns: 80px 1fr 84px 84px;
}
.app .viewport .write-message .add {
  padding: 20px 0 0 18px;
}
.app .viewport .write-message .add button {
  background: none;
  border: none;
  position: relative;
}
.app .viewport .write-message .add button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}
.app .viewport .write-message .camera {
  padding: 16px 0 0 4px;
}
.app .viewport .write-message .mic {
  padding: 16px 0 0 20px;
}
.app .viewport .write-message .my-message {
  padding: 12px 32px 14px 16px;
}
.app .viewport .write-message .my-message .white-bg {
  background: white;
  height: 100%;
  border: 1px solid #b4b4b4;
  border-radius: 30px;
  padding: 6px 6px 0 0;
  display: flex;
  justify-content: flex-end;
}
.app .viewport .write-message .my-message .white-bg .icon {
  margin-bottom: -4px;
}
.app .message {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  --mainColor: #f7f7f7;
  position: relative;
}
.app .message:hover .actions {
  display: flex;
}
.app .message .actions {
  position: absolute;
  top: 0;
  z-index: 2;
  right: 0;
  display: none;
}
.app .message .actions button {
  background: none;
  border: none;
}
.app .message .actions button.action-delete {
  color: #c00;
}
.app .message .actions button.action-user {
  color: teal;
}
.app .message .message-container {
  font-size: 28px;
  position: relative;
  background: var(--mainColor);
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.app .message .message-container .dialog-point {
  position: absolute;
  bottom: 12px;
  right: 100%;
  width: 20px;
  height: 24px;
  color: var(--mainColor);
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.3));
}
.app .message .message-container .message-content {
  padding: 8px 12px;
  max-width: 530px;
}
.app .message .message-container .text {
  word-break: break-word;
  display: inline;
  padding: 5px 0;
  line-height: 1.3;
}
.app .message .message-container .info {
  font-size: 20px;
  padding: 10px 0 0 34px;
  display: flex;
  float: right;
  align-items: center;
}
.app .message .message-container .info .time {
  color: #86868a;
  font-weight: 300;
}
.app .message .message-container .info .icon {
  display: none;
  margin-left: 4px;
}
.app .message.out {
  --mainColor: #dcf8c5;
  justify-content: flex-end;
}
.app .message.out .actions {
  left: 0;
  right: auto;
  flex-direction: row-reverse;
}
.app .message.out .actions .action-user .icon {
  transform: scale(-1, 1);
}
.app .message.out .dialog-point {
  left: 100%;
  right: auto;
  transform: scale(-1, 1);
}
.app .message.out .message-container .info .icon {
  display: block;
}
.app .message.out + .message.out,
.app .message:not(.out) + .message:not(.out) {
  margin-top: 5px;
}

/*# sourceMappingURL=styles.css.map */
